<mat-tab-group>
  <mat-tab label="Scan Code">
    <canvas class="scanner" id="canvas" *ngIf="!isScanSuccess"></canvas>
    <div class="scanner success" *ngIf="isScanSuccess">

      <img class="timer" src="../assets/images/stopwatch.svg" alt="">
      <span>
        In Time : <strong>  </strong>
      </span>
      <button mat-raised-button color="primary">Logout</button>

    </div>
  </mat-tab>
  <mat-tab label="See Entries">
    <h1>Some more tab content</h1>
    <p>zxbxzvbxzvbnxv</p>
  </mat-tab>
  
</mat-tab-group>